@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

/* Custom font face for logo font */
@font-face {
  font-family: 'Roxborough CF';
  src: url('./assets/fonts/Roxborough CF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary: #840E0E;
  --color-brand-black: #000000;
  --color-brand-gray: #C8C8C8;

  /* Fonts */
  --font-primary: "Cinzel", serif;
  --font-secondary: "Cormorant Garamond", serif;
  --font-logo: "Roxborough CF", sans-serif;
}

